html { background:#0c0f1d url(../../images/ali/bg1.jpg)  no-repeat;background-size:100% 100%;height: 100%;
    background-size: cover;
    width: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,blockquote,th,td,label,span,strong,p { margin:0px;padding:0px;color:#666666;font-size:12px;font-family:"Microsoft Yahei",宋体,Arial,Verdana; }
body { margin:0px;padding:0px; }
img { border:0px; }
a {
    outline:none;  /* for Firefox Google Chrome  */
    behavior:expression(this.onFocus=this.blur());  /* for IE */
}
*:focus {outline: none} 
input,select { height:16px;vertical-align:middle; }
fieldset { margin-top:15px;padding:10px 0px;width:698px;border:1px solid #999999;overflow:hidden; }
fieldset legend { margin:0px 12px;padding:2px 5px;color:#000;font-size:14px; }
fieldset table { margin-top:0px; }
fieldset table th,fieldset table td { padding:2px 5px; }
fieldset table th { padding:2px 0px;width:150px;text-align:right;font-weight:normal; }
fieldset table th span { margin:0px 5px;color:#ff0000;font-weight:bold; }

/*input[type="submit"],input[type="button"],input[type="reset"] { cursor:pointer;font-family:宋体,Verdana,Arial; }

*/
table{ border-collapse:collapse;border-spacing:0px; }
/*::selection { background:#950a03;color:#fff;text-shadow:none; }*/
a:link, a:visited { color:#666666;text-decoration:none; }
a:hover { color:#ff0000;text-decoration:none; }
a.black:link, a.black:visited { color:#666666;text-decoration:underline; }
a.black:hover { color:#ff0000;text-decoration:underline; }
a.red:link, a.red:visited { color:red;text-decoration:none; }
a.red:hover { color:#AF0101;text-decoration:none; }
a.red2:link, a.red2:visited { color:red;text-decoration:underline; }
a.red2:hover { color:#AF0101;text-decoration:underline; }
a.blue:link, a.blue:visited { color:blue;text-decoration:none; }
a.blue:hover { color:#0101AF;text-decoration:none; }

.noRecord { height:50px;line-height:50px;color:#FF7200;text-align:center; }
.form-tips { color:#eeb7b7; }
.Loding	{	height:16px;	padding:13px 0px 0px 30px;	color:#A8FF00;	text-align:left;	}
.imeDisable { ime-mode:disabled; }
.errTips { display:none;margin-left:5px;padding:0px 10px 1px 5px;line-height:20px;border:2px solid #FFB4B7;background-color:#FBE3E4;color:#FF0000;font-style:italic; }
.ok-tips { display:block;padding:2px 5px;background:url(../images/ico-ok.gif) no-repeat left center;color:green;text-indent:15px; }
.form-send-tips { display:none;line-height:24px;border:1px solid #fdd6bd;background:#ffeee2 url(../images/tips-ico.jpg) no-repeat 5px 5px;border-radius:3px;text-indent:25px;color:#ff6600; }
.form-send-tips-err { border:1px solid #f7bda5;background:#ffded0 url(../images/ico-err.gif) no-repeat 6px 6px;color:#ff4e00; }
.form-send-tips-ok { border:1px solid #99ec70;background:#d8f5c9 url(../images/ico-ok.gif) no-repeat 6px 6px;color:#3ab100; }
.form-send-tips-ok span { color:#ff0000;font-weight:bold; }

/*返回顶部*/
#floatTop{ background:url(../images/go-top.png) no-repeat;cursor:pointer;display:none;position:fixed;z-index:20;right:30px;bottom:30px;width:42px;height:43px; }

.ui-top-nav { width:264px; height:375px; background:url(../../images/ali/rilo.png) no-repeat; float:right}
.pplogi1 { width:220px; height:30px; margin:0 auto; padding:25px 0; text-align:right}
.pplogi1 span { float:left; font-size:19px; color:#ffffcb}
.pplogi1 em { float:right}

.pplogi2 { width:220px; height:auto; margin:0 auto}
.pplogi2d { height:65px; clear:both; width:100%}
.pplogi2d span { border:1px solid #ffffcb; display:block; background:none; height:35px; line-height:35px; width:208px; padding-left:10px; -webkit-border-radius:18px; -moz-border-radius:18px; border-radius:18px;}
.pplogi2d input { border:none; background:none; height:35px; line-height:35px; float:left; font-size:14px; color:#ffffcb}
.pplogi2d img { float:left; margin:6px 7px; height:22px; vertical-align:middle;}
.pplogi2d button { cursor:pointer; border:none; width:220px; height:35px; line-height:35px; font-size:19px; font-weight:600; font-family:"microsoft yahei"; text-align:center; color:#ffffcb; -webkit-border-radius:18px; -moz-border-radius:18px; border-radius:18px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c75a3c), color-stop(100%, #af4528) );
	background:-moz-linear-gradient( center top, #c75a3c 5%, #af4528 100% );
	background:-ms-linear-gradient( top, #c75a3c 5%, #af4528 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75a3c', endColorstr='#af4528');
	background-color:#c75a3c;
}
.pplogi2d { text-align:center; color:#ffffcb; font-size:18px;}
.pplogi2d a { color:#ffffcb;}

.ui-web-nav { position:fixed;z-index:100;left:0px;top:46px;width:100%;height:87px;background:url(../images/web-menu-bg.png) no-repeat center bottom; }
.ui-web-nav dl { margin:0 auto;width:1000px;overflow:hidden; }
.ui-web-nav dl dt { float:left;width:250px;overflow:hidden; }
.ui-web-nav dl dd { float:right;padding-top:36px;height:33px;overflow:hidden; }
.ui-web-nav dl dd a:link,.ui-web-nav dl dd a:visited { float:left;display:block;width:101px;height:33px;line-height:24px;color:#fff;text-align:center;font-size:14px; }
.ui-web-nav dl dd a:hover,.ui-web-nav dl dd a.cur { background:url(../images/menu-hover-bg.png) no-repeat center top;color:#640b26; }

.login-frm { width:100%; height:250px; padding-top:60px; }

.ui-footer { padding-top:35px;width:100%;min-width:1000px;height:90px;background:url(../images/footer-bg.jpg) repeat-x; }
.ui-footer dl { margin:0px auto;width:1000px;overflow:hidden; }
.ui-footer dl dt { height:40px;text-align:center;color:#c79697;overflow:hidden; }
.ui-footer dl dt a { margin:0px 10px;color:#c79697; }
.ui-footer dl dt a:hover { color:#fff; }
.ui-footer dl dd { height:23px;background:url(../images/footer-ico.png) no-repeat center top; }

.footer-img { width:100%;min-width:1000px;height:430px;background:url(../images/footer-img.png) no-repeat center top; }
.nav{ margin:0 auto; height:18px; background:#ae1a14}
.hua{ width:213px; height:256px; position:absolute; left:0; top:115px; background:url(../images/hua.png)}
.foot{ height:82px; width:100%; position:fixed; left:0; bottom:0; right:0;}
.foott { width:900px; margin:0 auto; line-height:35px; text-align:center; height:auto; clear:both; overflow:hidden; color:#999;}

/*首页*/
#homeBanner { position:relative;width:100%;min-width:1000px;height:541px;background:url(../images/line.jpg) no-repeat center bottom;overflow:hidden; }
#homeBanner .banner { position:absolute;z-index:1px;width:100%;min-width:1000px;height:537px; }
#homeBanner .ctrl { margin:-50px 0px 0px -480px;left:50%;top:50%;width:940px;height:100px;position:absolute;z-index:999; }
#homeBanner .ctrl a { background:url(../images/banner-ctrl.png) no-repeat;width:30px;height:100px;display:block;position:absolute;z-index:999;opacity:0.1;-moz-opacity:0.1;overflow:hidden;text-indent:-200px; }
#homeBanner .ctrl a:hover { opacity:0.5;-moz-opacity:0.5; }
#homeBanner .ctrl a#prev { left:-30px; }
#homeBanner .ctrl a#next { background-position:-30px 0px;right:-30px; }

.home-lottery { width:100%;padding-top:40px;height:350px;background:url(../images/main-box-bg.jpg) no-repeat center top; }
.home-lottery div { margin:0 auto;width:1000px;height:300px; }
.home-lottery div a { float:left;display:block;width:250px;height:150px;overflow:hidden;text-indent:-500px; }
.home-lottery div a.game1 { background:url(../images/game11.jpg) no-repeat; }
.home-lottery div a.game2 { background:url(../images/game2.jpg) no-repeat; }
.home-lottery div a.game3 { background:url(../images/game33.jpg) no-repeat; }
.home-lottery div a.game4 { background:url(../images/game4.jpg) no-repeat; }
.home-lottery div a.game5 { background:url(../images/game1.jpg) no-repeat; }
.home-lottery div a.game6 { background:url(../images/game33.jpg) no-repeat; }
.home-lottery div a.game7 { background:url(../images/game3.jpg) no-repeat; }
.home-lottery div a.game8 { background:url(../images/game44.jpg) no-repeat; }

/*栏目*/
.menu-main-warp { position:relative;margin-top:98px;width:100%;min-width:1000px;background:url(../images/left-menu-bg.jpg) repeat-y;overflow:hidden; }
.menu-main-l { position:absolute;left:0px;padding-top:30px;width:200px;overflow:hidden; }
.menu-main-l ul { list-style:none;overflow:hidden; }
.menu-main-l ul li { float:left;margin:0px 10px;height:36px;line-height:36px;border-bottom:1px solid #d2d1d1;font-size:14px; }
.menu-main-l ul li a { float:left;padding-left:20px;display: block;width:166px;height:34px;color:#333333; }
.menu-main-l ul li a:hover,.menu-main-l ul li a.cur,.menu-main-l ul li a.cur:hover { background:url(../images/left-menu-hover.png) no-repeat; }
.menu-main-r { margin-left:200px;padding:20px;overflow:hidden; }
.menu-title { line-height:45px;border-bottom:2px solid #d2d1d1;font-size:18px;overflow:hidden; }
.menu-title2 { width:700px;line-height:45px;border-bottom:2px solid #d2d1d1;font-size:18px; }

.ppreg { margin-top:-20px; float:right; width:460px; height:auto; overflow:hidden; color:#ffffcb}
.ppregi td { padding:1px 0; color:#fff}
.ppregi th { color:#ffffcb}
.ppregi th span { color:#f00; margin:0 3px;}
.ppxieyi { float:right; width:550px; margin-top:-45px;}
.ppxieyi1 {  color:#fff; line-height:20px; font-family:"simsun";}
.ppxieyi2 { width:360px; margin:0 auto; clear:both; padding:25px 0;}
.ppxieyi2 li { float:left; width:180px; text-align:center; height:32px; line-height:32px; list-style:none}
.ppxieyi2 li img { height:14px; vertical-align:-2px; margin-right:8px;}
.ppxieyi2 li a { display:block; margin:0 auto; height:32px; width:120px; color:#ffffcb; -webkit-border-radius:18px; -moz-border-radius:18px; border-radius:18px; 
color:#ffffcb;
background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c75a3c), color-stop(100%, #af4528) );
	background:-moz-linear-gradient( center top, #c75a3c 5%, #af4528 100% );
	background:-ms-linear-gradient( top, #c75a3c 5%, #af4528 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75a3c', endColorstr='#af4528');
	background-color:#c75a3c;
}


	.agent-frm h1 { margin-top:10px;font-size:20px; }
	
	/*Info Content*/
	.info-cont { line-height:2em;white-space:normal;text-justify:inter-ideograph;text-align:justify;	}
	.info-cont h1 { margin-top:10px;font-size:20px; }
	.info-cont h2 { margin-top:10px;font-size:16px; }
	.info-cont h3 { margin-top:10px;font-size:14px; }
	.info-cont h4 { margin-top:10px; }
	.info-cont p { margin:10px 0px 0px 0px; }
	.info-cont .inp-txt { background:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
	
	/*代理加盟*/
	.apply-class { margin-left:40px;padding:20px 0px 0px 0px;width:918px;height:35px; }
	.apply-class a { float:left;display:block;margin-right:10px;padding:0px 20px;height:25px;line-height:25px;border:1px solid #ffbd5b;background:#331304;color:#ffeed6;text-align:center;font-size:14px;font-weight:bold; }
	.apply-class a:hover { border:1px solid #ffbd5b;background:#b0521e;color:#fff; }
	.apply-class a.seled { border:1px solid #ffbd5b;background:#b0521e;color:#fff; }
	.apply-class a.seled:hover { color:#3e220f; }
	.apply-tab { width:100%;border:0px;border-top:1px solid #1e63bd;border-left:1px solid #1e63bd; }
	.apply-tab th,.apply-tab td { line-height:30px;border:0px;border-right:1px solid #1e63bd;border-bottom:1px solid #1e63bd;background:#003374;text-align:center; }
	.apply-tab th { background:#002658;color:#fff; }
	
	/*规则说明*/
	.rule-info { margin:25px auto 30px auto;width:940px;overflow:hidden; }
	.rule-info ul { width:940px;overflow:hidden;list-style:none; }
	.rule-info ul li { float:left;margin-top:5px;width:940px;overflow:hidden; }
	.rule-info ul li img { float:left;width:940px; }
	.rule-info ul li div { float:left; }
	.rule-info ul li .min-banner { width:940px;cursor:pointer; }
	.rule-info .rule-cont { display:none;padding:5px 0px;line-height:2em;overflow:hidden; }
	
	/*手机投注*/
	.mobile { margin:0px auto;width:1000px;height:480px;overflow:hidden;/*background:#8e6617;box-shadow:0px 0px 10px #242001;*/ }
	.mobile embed { float:left; }
	
INPUT.inp-txt { height:20px;line-height:20px;padding:0px 4px;border:1px solid #fff; color:#fff;/*box-shadow:inset 2px 2px 4px #145bba;*/ }
INPUT.inp-txt:hover { border-color:#fea201; }
INPUT.btnFace {	cursor:pointer;width:80px;height:26px;line-height:23px;*line-height:15px;_line-height:15px;border:1px solid #053a09;background:url(../images/btn-bg.png) repeat-x;color:#2f0a01; }
/*INPUT.btnFace-over,INPUT.btnFace2-over,INPUT.btnFace3-over,INPUT.btnFace:hover,INPUT.btnFace2:hover { background:url(../images/btnface.gif) no-repeat 0px -114px;border:1px solid #FFB400;color:#FF0000;box-shadow:0px 0px 7px #c9c9c9; }*/
INPUT.inp-rd { margin-right:5px; }
INPUT.rdFace { vertical-align:middle;cursor:pointer;margin-right:5px;width:12px;height:12px;*width:14px;*height:14px;border:1px solid #5799f2;background:#186dde; }
INPUT.rdFace-over { border:1px solid #ff8400;box-shadow:0px 0px 7px #c9c9c9; }
textarea { padding:4px;border:1px solid #707070;overflow-y:auto; }
textarea:hover { border-color:#fea201; }
select { padding:2px;height:22px;border:1px solid #707070; }

.reg-btn { cursor:pointer;width:120px;height:33px;border:1px solid #c75a3c; color:#ffffcb; font-size:14px;
background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c75a3c), color-stop(100%, #af4528) );
	background:-moz-linear-gradient( center top, #c75a3c 5%, #af4528 100% );
	background:-ms-linear-gradient( top, #c75a3c 5%, #af4528 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75a3c', endColorstr='#af4528');
	background-color:#c75a3c;
}
.reg-btn:hover { border:1px solid #fea201;background-position:left bottom;color:#fff; }

.ag-btn { cursor:pointer;width:90px;height:28px;border:1px solid #707070;background:url(../images/btn-bg.png) repeat-x;color:#707070; }
.ag-btn:hover { border:1px solid #fea201;background-position:left bottom;color:#990000; }

.header{ width:950px; height:100px; padding-top:10px; margin:0 auto 10px; position:relative}
.logo{ width:250px; height:100px; position:absolute; left:-10px; top:10px;}
.notice{ height:30px; margin-top:50px; overflow:hidden; margin-bottom:10px; float:right; width:440px; position:relative}

.txtMarquee-left{ width:440px; height:30px; position:relative; background:url(../../images/ali/gg.png) left 50% no-repeat;}
.txtMarquee-left .hd{ display:none}
.txtMarquee-left .bd{ padding:0 0 0 25px}
.txtMarquee-left .bd .tempWrap{ width:410px !important; }
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ list-style:none; height:30px; line-height:30px; _display:inline; width:auto !important;  }
.txtMarquee-left .bd ul li,.txtMarquee-left .bd ul li a { color:#fff; font-family:"simsun";}


.menu{ height:44px; width:755px; line-height:35px; position:absolute; right:0; top:10px; background:url(../images/navbg.png) 100px top no-repeat}
.menu ul{ height:35px;list-style:none; float:right}
.menu li{ width:100px; height:35px; line-height:35px; list-style:none; text-align:right; float:left}
.menu li a{ width:100%; height:35px; line-height:35px; display:block; color:#ffffd2; font-size:16px; font-weight:bold;}
.menu li a:hover{ color:#ff0;}
.main{ width:950px; height:400px; margin:0 auto; position:relative; z-index:1000}
.flash{ width:650px; height:341px; margin:0 15px; float:left}
.login-ipt {
	background: url("../images/input_bg.png") no-repeat left top;
	height: 50px;
	width: 220px;
	margin: 10px auto;
	position:relative
}
.username label{	background: url("../images/login_ico.png") no-repeat top;
	display: block !important;
	font-size: 0;
	text-indent: -99999px;
	height: 35px;
	width: 38px;
	margin: 6px 0px 0 10px;
    opacity:1 !important;
	filter:alpha(opacity=100)!important; 
	float: left;}
.username input{background:url("../images/username.gif") no-repeat left center}
.input-txt{ background:none !important}
.password label{	background: url("../images/login_ico.png") no-repeat center;
	display: block !important;
	font-size: 0;
	text-indent: -99999px;
	height: 35px;
	width: 38px;
	margin: 6px 0px 0 10px;
	opacity:1 !important;
	filter:alpha(opacity=100)!important; 
	float: left;}
.password input{background:url("../images/password.gif") no-repeat left center}
.login-ipt input{
	float: left;
	font-size: 16px;
	margin: 12px 0 0 0;
	width: 155px;
	font-family: Microsoft YaHei;
	color:#999; border:none; height:25px; line-height:25px;
}

.reg{ padding-left:30px; clear:both}
.login-btn{ width:120px; height:52px; background:url(../images/login_bu.png) no-repeat left top; border:none; text-indent:-9999em; float:left; cursor:pointer}
.login-btn:hover{ background:url(../images/login_bu.png) no-repeat left -52px;}
.zhuce{ width:88px; height:52px; background:url(../images/login_bu.png) no-repeat left -104px; display:block;text-indent:-9999em; float:left;margin-left:8px; }
.zhuce:hover{ background:url(../images/login_bu.png) no-repeat left -156px;}
.test{ cursor:pointer; width:221px; height:46px; background:url(../images/login_bu.png) no-repeat left -208px; border:none; text-indent:-9999em; float:left;}
.test:hover{ background:url(../images/login_bu.png) no-repeat left -254px;}
.forgot-pwd{ position:absolute; right:-22px; top:10px}
.box{ padding:10px; line-height:24px}
.box strong{ height:30px; line-height:30px; display:block; padding-top:10px;}
.daili{ width:112px; height:38px; line-height:38px; text-align:center; border:1px solid #207eed; background:#207eed; color:#fff; font-size:15px; cursor:pointer; border-radius:3px; font-family:"Microsoft YaHei"; display:block; margin:0 auto}
.daili:link, .daili:visited{ color:#fff}

.promotitle{ font-size: 14px;font-weight: bolder;}

@media (min-height:800px){
	.ppreg { margin-top:0px;}
	.ppregi td { padding:4px 0;}
	.ppxieyi { margin-top:0}
	.ppxieyi1 { line-height:22px;}
}