.pay-methods div div:nth-child(7),.pay-methods div div:nth-child(6){display:none;}
.game_gamesport_box {
  background-image: url("/static/images/common/sportgame/bg1.png")!important
}
.float-right .cs{
  background:url("//jkysxh.cn/img/pc/static/images/common/icon/ico-right-cs.png") no-repeat 50% #782d3f!important;
}
.float-right .weixin{
  background:url("//jkysxh.cn/img/pc/static/images/common/icon/ico-right-call.png") no-repeat 50% #782d3f!important;
}
.fucai3d .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color:#862A41!important;
}
.fucai3d .el-tabs--border-card>.el-tabs__header .el-tabs__item:hover{
  color:#862A41!important;
}

.luzhu-box ul li{color:black!important;}
/* .start-to-play{
    background: none!important;
    background-color: rgba(14, 72, 173, 0.8)!important;
    margin-top: 300px!important;
    height: 60px!important;
    line-height: 60px!important;
    text-align: center!important;
    text-indent: 0!important;
    width: 208px!important;
    border-radius: 5px!important;
}

.start-to-play:hover{
  background-color: rgb(14, 72, 173)!important;
} */


/* 左侧导航 */
.second_menu_list .active .game_name div:nth-child(1) {
  color: #570019;
}


/* 投注区头部 */
#bet-top-ly .lottery-name{
  color: #d1ca24;
}

.soccer{
  display:none;
}

.second_menu_list > li.active {
  background: url("/static/images/common/sildertemRed.png") right center;
}
.siderLeft_ly{
  background:#9b2433!important;
}
.markSix #marksix_nav_15 li:last-child div span:first-child{
  background: #C24A2C!important;color:#fff!important;
}

.game_list .active {
  background: url("../../static/images/common/siderItemBg1.png") right center!important;
  background-size: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.second_menu_list > li.active {
  background: url("../../static/images/common/siderItemBg1.png") right center!important;
}

.game_hot:hover {
  background-image: url("../../static/images/common/siderItemBg1.png")!important;
}

.game_hot:hover {
  background-image: url("../../static/images/common/siderItemBg.png");
}


.lotteryPcdd  li:first-child div:last-child  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(4)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(7)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(10)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(13)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(19)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(22)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(25)  span:first-child,
.lotteryPcdd  li:last-child div:nth-child(28)  span:first-child{
  background:#007FCD;
}

#marksix_nav_34  div label  span:first-child,
#marksix_nav_35  div label  span:first-child,
#marksix_nav_36  div label  span:first-child,
#marksix_nav_37  div label span:first-child,
#marksix_nav_38  div label  span:first-child,
#marksix_nav_39  div label span:first-child
{
  background: #C24A2C!important;color:#fff!important;
}

header .main {
  background: #9b2433;
}
.header_ly{
  /* background: #9b2433; */
  background: linear-gradient(to bottom, #bf2a3f,#a1384e)!important;
  width: 100%;
  height: 60px;
}
.logo {
  width:160px!important;
  background: url('/static/images/ly/logo.png');
  height: 46px;
}

.bet-top .leftPart {
    border-right: 1px solid #ceb0ce;
}

.header_ly li{
  /* color:#FBA117!important; */
}

.clock11 span{
  /* background: #F6A555!important; */
  background: #75293c!important;
}


#app .header_ly li.active {
  /* background:#782d3f; */
  color : #d1ca24 !important;
}
.more{color:black!important;}
.game_info ul li span:nth-child(1):not(.tm_ball_蓝波) {
  font-weight: 700;
  color: black;
  background-color: #eff6ff;
}
.game_hot,
.game_list li a,.second_menu_list a {
    border-bottom: 1px solid #a05970;
}
/* .game_info ul li span:first-child{
  background:#eff6ff!important;
} */
.bgn{
  background:#eff6ff!important;
}
.dw{
  color:#862A41!important;
}
.ly_red{
  color:#b53b4d!important
}

.game_list .active,.second_menu_list > li.active,.game_hot:hover {
  /* background:linear-gradient(to right,rgba(0, 0, 0, 0),#e09b56)!important; */
  background:linear-gradient(to right,#e7cc54,#b67e0e)!important;
}

.second_menu_list{
  /* background-color: #782d3f */
  background-color: #9b2433;
}

.game_name div:nth-child(1) {
    opacity: .7!important;
}


.tads div.activ {
  border-bottom:none;
   color:#9b2433!important
}
.tads div.activ a {
  color:#9b2433!important;
  border-bottom:none;
}


.el-radio__input.is-checked .el-radio__inner{
    border-color: #9b2433!important;
    background: #9b2433!important;
}

.el-radio__input.is-checked+.el-radio__label{
  color: #9b2433!important;
}

.iosc,
.adridc,
.btn-blue {
  background: #862A41;
}
.float-right {
  background: #4B4B4B;
}
/* .el-tabs__item.is-active {
  color: #fff!important;
  background: #862A41!important;
} */

.tab.act{
  background: #852E41!important;
}

.common-content .el-tabs__item.is-active {
  color: #852E41!important;
  background-color: white!important;
}

.result-page .el-tabs__item.is-active{
  color:white !important;
  background-color: #852E41!important;
}

.el-tabs__active-bar {
  background-color: #f6a555!important;
}
.common-content .el-tabs__item.is-active,
.header-modal-content li:hover,
.header-modal-content li.active,
{
  color: #fff!important;
  background-color: #852E41!important;
}

.btns span,
.setting span,
.userInfo span {
  color:#fff!important;
  opacity: 1!important;
}

.btn-blue {
  box-shadow: 2px 2px 5px #9b2433;
}
.btn-blue:hover {
  background-color: #9b2433;
}

.unsettlement h2 {
  background: #9b2433;
}

.bet-top{
  /* background: url("/static/images/ly/bg-top.jpg") no-repeat; */
  background: #b52d40;
  background-size: cover;
}

.bet-top-placeholder_ly {
  background: #9b2433!important;
}
.openData .nums span {
  background: #9b2433;
}

.siderLeft_ly + .content .markSixSubNav li button.active,
.siderLeft_ly + .content .markSixSubNav li button.isred {
  color: #fff;
  /* background: #862A41!important; */
  background: #9b2433!important;
}
.openData .nums .habi1 {
  background: #9b2433!important;
}






.siderLeft_ly .game_name div:nth-child(1) {
  opacity: 1!important;
}
.siderLeft_ly .game_name div:nth-child(2) {
  color:  #f79d75!important;
  opacity: 1!important;
}
.siderLeft_ly .active .game_name div:nth-child(2) {
  color:  #fff !important;
  opacity: 1!important;
}



.el-button.is-round {
  padding: 8px 23px;
  background-color: #862A41;
  border-color: #862A41;
  width: 100%;
  box-shadow: 2px 2px 5px #862A41;
}
.swal2-modal .swal2-styled {
  background-color: #862A41!important;
  border-radius: 30px!important;
  box-shadow: 2px 2px 5px #862A41!important;
  padding: 8px 40px!important;
}
.el-carousel__container .el-carousel__container {
    background-size: cover;
}
.el-carousel__item img {
    width: 100%;
    height: 100%;
}
/* .el-carousel__container .el-carousel__container div:nth-child(2) {
  background: url("/static/images/ct/banner02.jpg");
    background-size: cover;
}

.el-carousel__container .el-carousel__container div:nth-child(3) {
  background: url("/static/images/ct/banner03.jpg");
    background-size: cover;
} */
.bet-top .leftPart {
    border-right: 1px solid #89a3d1;
}

.userInfo .avatar {
  border: 1px solid #89a3d1;
}
.ico_game {
    background-size: contain!important;
    width: 120px;
    height: 80px;
}
.header_ly .userInfo,
.header_ly .userInfo .btns {
    border-color: #801e3f!important;
}

#changlong h3{
  background: #b53b4d;
  color:#fff!important;
  border-radius: 10px 10px 0 0;
}
#changlong h3:before{
  border:none;
}
#changlong table{
  color:black;
}

.game_title h3,
.el-checkbox__input.is-checked+.el-checkbox__label
{
    color: #862A41!important;
}
.game_info ul li span:nth-child(2):not(.lhc_ball_num),.jsks_odds {
    color: #b53b4d!important;
    font-weight: 600
}
.btn-pink {
  background-color: #ff9200;
  box-shadow: 2px 2px 5px #f5b3bb;
}
.btn-pink:hover {
  background-color: #c0740d;
}
nav.top-nav {
    height: 35px;
    // background-size: cover;
    margin-bottom: 10px;
    box-shadow: 3px 2px 5px #cce2fe;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.top-nav ul li {
  float: left;
  padding: 0 15px;
  color: #333;
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  position: relative;
  // margin-right: 1px;
}
.top-nav ul li:hover{
   color:#a52351;
}
.top-nav ul .active {
  font-weight: bold;
  color: #a52351;
  border-bottom: 2px solid #f6a555;
}
.top-nav ul li:first-child:hover,
.top-nav ul li:first-child.active {
    border-bottom-left-radius: 5px;
}

.top-nav ul .active:hover {
    font-weight: bold;
}
.offline div a,
.offline div span,
.btns-before-login .btn-try {
    color: #333!important;
    background-color: #6187cc;
    background-color: #fff;
    border: none;
}
.btns-before-login .btn-try {
  background-color: #6187cc;
  color: #fff!important;
}
.btns-before-login span {
  opacity: 1!important;
}
footer {
    color: #666;
    background-color: #333;
}
.lotteryCqssc #ssc_nav_0 div:not(.game_title) span:first-child,
.lotteryCqssc #ssc_nav_2  li div:not(.game_title) span:first-child,
.lotteryCqssc #ssc_nav_3  li div:not(.game_title) span:first-child,
.lotteryCqssc #ssc_nav_4  li div:not(.game_title) span:first-child,
.lotteryCqssc #ssc_nav_5  li div:not(.game_title) span:first-child,
.lotteryCqssc #ssc_nav_6  li div:not(.game_title) span:first-child,
.markSix #marksix_nav_11 li:first-child div:not(.game_title) span:first-child,
.markSix #marksix_nav_14  li div:not(.game_title) span:first-child,
.markSix #marksix_nav_15  li div:not(.game_title) span:first-child,
.markSix #marksix_nav_16  li div:not(.game_title) span:first-child,
.markSix #marksix_nav_17  li div:not(.game_title) span:first-child,
.markSix #marksix_nav_27  li div:not(.game_title) span:first-child {
    width: 50px;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
    /* background-color: #862A41; */
}
/* .markSix ul li:last-child span:nth-child(1) {
  background-color: #862A41;
} */
.six_lm_ball li span {
  background-color: #ea6271;
}
#ten_result_172 td span,
#ten_result_280 td span,
.game_172 .result-ball,
.game_280 .result-ball,
.jsks .ksball_1,
.jsks .ksball_2,
.jsks .ksball_3,
.jsks .ksball_4,
.jsks .ksball_5,
.jsks .ksball_6 {
  background-image: url('/static/images/crown/ico-dice.png');
}
#ten_result_172 .ten_result_1,
.game_172 .result-ball_1,
#ten_result_280 .ten_result_1,
.game_280 .result-ball_1,
.jsks .ksball_1 {
  background-position:  0 0;
}
#ten_result_172 .ten_result_2,
.game_172 .result-ball_2,
#ten_result_280 .ten_result_2,
.game_280 .result-ball_2,
.jsks .ksball_2 {
    background-position: 0 118px;
}
#ten_result_172 .ten_result_3,
.game_172 .result-ball_3,
#ten_result_280 .ten_result_3,
.game_280 .result-ball_3,
.jsks .ksball_3 {
  background-position: 0 236px;
}
#ten_result_172 .ten_result_4,
.game_172 .result-ball_4,
#ten_result_280 .ten_result_4,
.game_280 .result-ball_4,
.jsks .ksball_4 {
  background-position: 0 354px;
}
#ten_result_172 .ten_result_5,
.game_172 .result-ball_5,
#ten_result_280 .ten_result_5,
.game_280 .result-ball_5,
.jsks .ksball_5 {
  background-position: 0 614px;
}
#ten_result_172 .ten_result_6,
.game_172 .result-ball_6,
#ten_result_280 .ten_result_6,
.game_280 .result-ball_6,
.jsks .ksball_6 {
  background-position: 0 590px;
}
.moneyManage .el-tabs__item,
.moneyManage .el-tabs__nav-scroll {
  background-color: #da4765!important;
  color: #fff!important;
}
.jsks_odds{color:#7b73be;}
 .moneyManage .el-tabs__item.is-active {
    background-color: #92112c!important;
    color: #fff!important;
}
.grid-content .conmit div:first-child{
    background-color: #ff9200;
    box-shadow: 2px 2px 5px #ff9200;
    border-radius: 60px 0 0 60px;
}
.grid-content .conmit div{
    background-color: #862A41;
    box-shadow: 2px 2px 5px #862A41;
}

.grid-content input{
  width: 100%;
  border: 1px solid #e6e6f0;
  outline: none;
  text-align: center;
  height: 33px;
}

.grid-content .conmit{
  border: none;
  padding: 50px 0;
}
.grid-content .conmit div{
  width: 120px;
  color: #fff;
  display: inline-block;
  border-radius: 60px 0 0 60px ;
  cursor: pointer;
}
.grid-content .conmit div:nth-child(2){
  border-radius: 0 60px  60px 0 ;
  background-color: #862A41;
  /*border: 1px solid ;*/
}

.bank-offline-table th{
  width: 17% !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #862A41!important;
  border-color: #862A41!important;
}
.lm-title span{
  font-weight: bold!important
}

.danhao label span:first-child{
  color:white!important;
}

.lhc_ball_num{
  font-weight: bold;
}

.banbo span,.six_lm_ball .lm_ball{
  font-weight: bold
}

.ten_farm_ball_19,.ten_farm_ball_20{
  color:white!important;
}


/*  方球 */
.danhao  .icon-rect-ball {
	color: white!important;
  text-shadow: 1px 1px 1px #000;
}
.danhao .icon-rect-ball-1.pk_1 {
  background-color: #ffff00!important;
}
.danhao .icon-rect-ball-2.pk_2 {
  background-color: #0089ff!important;
}
.danhao .icon-rect-ball-3.pk_3 {
  background-color: #4d4d4d!important;
}
.danhao .icon-rect-ball-4.pk_4 {
  background-color: #ff7300!important;
}
.danhao .icon-rect-ball-5.pk_5 {
  background-color: #81ffff!important;
}
.danhao .icon-rect-ball-6.pk_6 {
  background-color: #5200ff!important;
}
.danhao .icon-rect-ball-7.pk_7 {
  background-color: #e3e3d3!important;
}
.danhao .icon-rect-ball-8.pk_8 {
  background-color: #ff0000!important;
}
.danhao .icon-rect-ball-9.pk_9 {
  background-color: #760000!important;
}
.danhao .icon-rect-ball-10.pk_10 {
  background-color: #28c200!important;
}

/*
.danhao .icon-rect-ball-1.pk_1 {
  background-color: #ffff00!important;
}
.danhao .icon-rect-ball-2.pk_2 {
  background-color: #0089ff!important;
}
.danhao .icon-rect-ball-3.pk_3 {
  background-color: #4d4d4d!important;
}
.danhao .icon-rect-ball-4.pk_4 {
  background-color: #ff7300!important;
}
.danhao .icon-rect-ball-5.pk_5 {
  background-color: #81ffff!important;
}
.danhao .icon-rect-ball-6.pk_6 {
  background-color: #5200ff!important;
}
.danhao .icon-rect-ball-7.pk_7 {
  background-color: #e3e3d3!important;
}
.danhao .icon-rect-ball-8.pk_8 {
  background-color: #ff0000!important;
}
.danhao .icon-rect-ball-9.pk_9 {
  background-color: #760000!important;
}
.danhao .icon-rect-ball-10.pk_10 {
  background-color: #28c200!important;
}
*/
